* {
  box-sizing: border-box;
}

.Team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 120%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Team .teamLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 
 p {
  font-size: 100%;

 }
     
 .Game {
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 120%;
 }

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.shootButton {
  background-color: green;
  color: white;
  font-size: 40px;
  padding: 10px 80px;
}

.versus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.versus h1 {
  font-size: 500%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fc0;
  text-shadow: 2px 2px 0 black;
}

.resetButton {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 10px 40px;
}

.ScoreBoard {
  display: flex;
  justify-content: center;
  font-family: "Score Board", sans-serif;
  text-align: center;
  background: #2c2c2c;
  color: #fd8049;
  text-shadow: 0 0 3px #fd8049;
  padding: 1rem 0;
}

.ScoreBoard h3 {
margin: 0;
}

.ScoreBoard .teamStats {
flex: 1;
} 

.Game {
  text-align: center;
}
